input {
	width: 100%;
}

.form-container {
	width: 50%;
	margin: auto;
	padding: 50px;
}

.submit-button {
	padding: 10px 0px 10px 0px;
	border: 0;
	border-radius: 5px;
	color: #ffffff;
	width: 50%;
}

.user-drop-down >li {width: 180px;}
.user-drop-down >li >ul { display: none; list-style-type: none; padding-left: 0; width: 190px; position: absolute; z-index: 100; }
.user-drop-down >li:hover >ul {	display: block; }
.user-drop-down >li >ul >li {padding: 5px 5px;}
.user-drop-down >li >ul >li:hover {background-color: rgba(0, 0, 0, 0.2);}