<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.css" />
</head>
<body>
	<h1>Hello <%= user.fullname %></h1>
	<div ng-view></div>
</body>

<script src="libs/angular/angular.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<script src="libs/angular-resource/angular-resource.js"></script>

<script src="User/user.client.module.js"></script>
<script src="User/services/user.client.service.js"></script>
<script src="User/controllers/user.client.controller.js"></script>
<script src="User/routes/user.client.route.js"></script>

<script type="text/javascript" src="application.js"></script>

</html>