<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.css" />
	<link rel="stylesheet" type="text/css" href="/css/style-signup.css" />
</head>
<body>
	<% for(var i in messages){ %>
		<div class="flash"><% messages[i] %></div>
	<% } %>

	<div class="container">
		<div class="form-container clearfix">
			<form action="/update" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="firstName" class="col-sm-4">Firstname:</label>
				
					<div class="col-sm-8">
						<input type="text" name="firstName" />
					</div>
				</div>

				<div class="form-group">
					<label for="lastName" class="col-sm-4">Lastname:</label>
				
					<div class="col-sm-8">
						<input type="text" name="lastName" />
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="col-sm-4">Email:</label>
				
					<div class="col-sm-8">
						<input type="text" name="email" />
					</div>
				</div>

				<div class="form-group">
					<label for="username" class="col-sm-4">Username:</label>
				
					<div class="col-sm-8">
						<input type="text" name="username" />
					</div>
				</div>

				<div class="form-group col-sm-12 center-block">
					<input type="submit" name="submit" class="btn btn-danger col-sm-offset-5 col-sm-6 submit-button" />
				</div>
			</form>	
		</div>	
	</div>
		
</body>
</html>